.projectPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsLabel {
    font-size: 3rem;
    margin-top: 70px;
    margin: 70px 0 100px 0;
}

.projectsList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.projectItemContainer {
    padding: 10px;
    box-sizing: border-box;
}

.projectsRow {

}